body {
  height: 100vh;
  width: 100vw;
  color: rgb(104, 199, 49);
  max-height: 100vh;
}

.row {
  height: 100%;
  margin-top: 3rem;
}

.display-1 {
  padding-left: 3rem;
  text-shadow: -3px 3px 4px #d8d8d8;
  font-family: "Roboto";
}

#logo {
  margin-left: 5rem;
}

#formContainer {
  background-color: rgb(235, 235, 235);
  width: 90%;
  height: 85%;
  margin-left: 0px;
  border-radius: 10px;
  box-shadow: -3px 3px 8px #cacaca;
}

.searchForm {
  padding-top: 15px;
  padding-left: 10px;
}

#searchGroup {
  display: flex;
  flex-direction: row;
}

.autocomplete-results {
  position: relative;
  top: -35px;
  z-index: 5;
}
.autocomplete-results > div {
  padding: 1px;
  font-size: 16px;
  color: #505050;
  border-bottom: 1px solid rgb(173, 173, 173);
  border-left: 1px solid rgb(173, 173, 173);
  border-right: 1px solid rgb(173, 173, 173);
  width: 85%;
  cursor: pointer;
}
.autocomplete-results > div:nth-last-child(1) {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.autocomplete-results > div:hover {
  background-color: white;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

#searchBar {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(173, 173, 173);
  border-radius: 0px;
  width: 85%;
  margin-bottom: 1rem;
  margin-right: 1.5rem;
}

#searchBar:focus {
  border-color: none;
  box-shadow: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(104, 199, 49);
}

.btn:focus {
  box-shadow: none;
}

.btn:hover {
  color: white;
  opacity: 0.8;
}

.searchItems,
.healthLabelItems,
.dietLabelItems {
  background-color: transparent;
  width: 90%;
  padding-left: 0px;
  margin-left: 0px;
}

.searchDisplay,
.submitButton,
.labelDisplay {
  background-color: rgb(104, 199, 49);
  color: white;
  border-radius: 18px;
  margin-left: 3px;
  margin-bottom: 5px;
  box-shadow: -3px 3px 8px #d8d8d8;
}

.searchInput:hover {
  background-color: rgba(104, 199, 49, 0.8);
}

.healthLabelContainer {
  margin-top: 3rem;
}
.dietLabelContainer {
  margin-top: 3rem;
}

#healthLabelSelect {
  width: 90%;
  box-shadow: -3px 3px 8px #d8d8d8;
}
#dietLabelSelect {
  width: 90%;
  box-shadow: -3px 3px 8px #d8d8d8;
}

#healthLabelSelect:focus {
  border: 1px solid #ced4da;
}
#dietLabelSelect:focus {
  border: 1px solid #ced4da;
}

.submitButton {
  margin-top: 2rem;
  background-color: rgb(255, 255, 255);
  color: rgb(104, 199, 49);
  border: 2px solid rgb(104, 199, 49);
}

.submitButton:hover {
  opacity: 0.8;
  color: rgb(104, 199, 49);
}

.addButton {
  margin-top: 0px;
  margin-bottom: 1rem;
}

.loading-container {
  display: none;
  border-radius: 3px;
  background-color: white;
  width: 100px;
  margin: auto auto;
  position: absolute;
  height: 100px;
  left: 45%;
  top: 40%;
}
.loading-box {
  margin-top: 20px;
}
.diet-btn {
  background-color: orange;
}
.health-btn {
  background-color: green;
}
