body{
    background-color: grey;
}
.jumbotron{
    background-color: lightslategray;
}

#Ingredients_id{
    width: 20em;
}
.card{
    min-width: 100px;
    min-height: 100px;
    width: 0fr;
    height: 1rem;
}
.card > .row {
    overflow-x: auto;
    white-space: nowrap;
}
  .card > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}