body {
  background-color: white;
  height: 100vh;
  width: 100vw;
  padding-top: 25px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: solid 2px rgb(104, 199, 49);
  border-radius: 3px;
}

.backButton {
  position: fixed;
  bottom: 15px;
  right: 25px;
}

h2 {
  display: inline-block;
  padding-left: 1rem;
}

#resultFormContainer {
  padding-left: 0px;
}

.search_area,
.label_area,
.diet_area {
  padding-left: 1rem;
}

.container {
  background-color: transparent;
  border: transparent;
  padding-bottom: 20px;
}

.container > .row {
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  background-color: rgb(235, 235, 235);
  border-radius: 25px;
  border: none;
  width: auto;
  height: auto;
  margin: 0.5rem 1rem;
  padding: 15px;

  max-width: 230px;
  box-shadow: -3px 3px 8px #cacaca;
}

.card-body:hover {
  position: relative;
  bottom: 7px;
}

.btn {
  background-color: rgb(104, 199, 49);
  color: white;
  border-radius: 18px;
  margin-left: 3px;
  margin-bottom: 5px;
  box-shadow: -3px 3px 8px #d8d8d8;
}

.btn:hover {
  /*
  background-color: rgba(104, 199, 49, 0.75);
  */
  opacity: 0.8;
  color: white;
}

.btn-secondary {
  border-width: 0px;
}

.addButton {
  background-color: rgb(255, 255, 255);
  color: rgb(104, 199, 49);
  border: 2px solid rgb(104, 199, 49);
  border-radius: 18px;
  margin-left: 1rem;
  margin-bottom: 5px;
  box-shadow: -2px 2px 8px #d8d8d8;
}

.addButton:hover {
  background-color: rgb(250, 250, 250);
  color: rgb(104, 199, 49);
}

.loading-container {
  display: none;
  border-radius: 3px;
  background-color: white;
  width: 100px;
  margin: auto auto;
  position: absolute;
  height: 100px;
  left: 45%;
  top: 40%;
}
.loading-box {
  margin-top: 20px;
}
.diet-btn {
  background-color: orange;
}
.health-btn {
  background-color: green;
}
